strong {
  display: block;
  margin-bottom: 10px;
}

.markdown-body {
  font-size: 0.8em !important;
  @media (max-width: 990px) {
    font-size: 14px !important;
  }
}

.markdown-body pre code {
  font-size: 1em !important;
  color: #f8f8f2;
}
