.content_body {
  margin-top: 20px;
  width: 100%;
  height: 100dvh;
  height: 100%;
  @media (max-width: 420px) {
    margin-top: 10px;
  }
}

.div-logo-titulo-card {
  display: flex;
  align-items: center;
}

.logo {
  width: 25px;
  height: 25px;
  background-size: contain;
}

.main {
  display: flex;
  justify-content: center;
  @media (max-width: 990px) {
    flex-direction: column;
    align-items: center;
  }
}

.main_card {
  display: flex;
  flex-direction: column;
  background-color: #1a1e22;
  width: 100%;
  height: 80dvh;
  border-radius: 8px;
  overflow: auto;
  @media (max-width: 990px) {
    width: 100%;
    margin-bottom: 20px;
    height: 30dvh;
  }
}

.div-titulo-cards {
  width: 30%;
  margin-right: 5px;
  margin-left: 5px;
  @media (max-width: 990px) {
    width: 90%;
    margin-bottom: 20px;
    height: 30dvh;
  }
}

.titulo-card {
  color: white;
  text-align: center;
  margin-top: 10px;
  margin-left: 5px;
  margin-bottom: 5px;
  font-weight: 600;
}

.card {
  display: flex;
  align-content: center;
  background-color: #121214;
  font-size: 13px;
  padding: 13px 10px;
  border-radius: 5px;
  text-overflow: ellipsis;
  flex-wrap: wrap;
  margin: 5px;
  cursor: pointer;
}

.card:hover {
  background-color: #0d1117;
}

.texto_card {
  color: white;
  font-weight: 600;
  font-size: 1em;
}

.div-documentacao-buscar {
  width: 60%;
  display: flex;
  flex-direction: column;
  @media (max-width: 990px) {
    width: 100%;
    height: 60dvh;
    align-items: center;
  }
}

.markdown-body {
  font-size: 15px !important;
  padding: 5px !important;
  @media (max-width: 990px) {
    font-size: 14px !important;
  }
}

.documentacao {
  background-color: #0d1117;
  color: #ffffff;
  width: 100%;
  height: 80dvh;
  font-size: 1px;
  border-radius: 8px;
  overflow-y: auto;
  position: relative;
  text-align: left;
  margin-right: 10px;
  margin-left: 5px;
  border: 2px solid #1a1e22;
  @media (max-width: 990px) {
    width: 90%;
    margin-left: 10px;
    margin-right: 10px;
    height: 50dvh;
  }
}

.code-block {
  display: flex;
  flex-direction: column;
  background-color: #161b22;
  border-radius: 6px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0px;
  overflow: auto;
}

.code-block pre {
  margin: 0;
}

.code-block pre code {
  color: #c9d1d9;
}

.code-button {
  position: absolute;
  background-color: #161b22;
  align-self: flex-end;
  border: 0;
  padding: 0;
  @media (max-width: 420px) {
    display: none;
  }
}

.code-icon {
  padding: 5px;
  color: rgb(255, 255, 255);
}

.code-icon:hover {
  color: #2f81f7;
}
.div-buscar {
  display: flex;
  align-items: center;
  margin-left: 5px;
  margin-bottom: 5px;
  @media (max-width: 990px) {
    width: 90%;
    margin-top: 25px;
  }
}

.input-buscar {
  background-color: #10141a;
  width: 100%;
  height: 30px;
  font-size: 14px;
  font-weight: lighter;
  border-radius: 5px;
  padding-left: 10px;
  border: 1px solid white;
  color: white;
  @media (max-width: 990px) {
    width: 100%;
    font-size: 15px;
  }
}

.input-buscar:hover {
  border: 1px solid white;
}

.input-buscar:focus {
  outline: none;
}

.input-buscar::placeholder {
  color: white;
}

.searchIcon:hover {
  color: #2f81f7;
}
